:root {
    --primary: #7c587f;
  --secondary: #4c3f77;
  --tertiary: #B12704;
  --light: #a4bcbc;
  --dark: #051126;
  --contrast: #007f97;
}

form {
    margin: 10px;
}

input {
    background-color: white;
}

textarea {
    background-color: white;
}

p {
    color: #051126;
}

footer {
    background-color: #051126;
}

.headerNav {
    background-color: var(--secondary);
}

.navContainer {
    background-color: var(--secondary);
}

.navLinks ul {
    font-size: large;
    padding: 10px;
    background-color: var(--secondary);
}

.nav-item {
    color: var(--dark);
    background-color: var(--secondary);
    margin: auto;
}

.aboutContainer {
    background-color: var(--light);
}

.cardContainer {
    height: 400px;
}

.myName {
    background-color: #4c3f77;
}

.portfolioContainer {
    background-color: var(--light);
}

.cardSection {
    border: 2px solid var(--dark) !important;
}

.portCards {
    background-color: lightgrey;
}

.footImg {
    height: 50px;
    width: 50px;
}

a:link {
    text-decoration: none;
    color: #051126;
}

.nav-link {
    color: var(--contrast) !important;
    font-weight: bold !important;
}

.active {
    background-color: var(--secondary) !important;
    /* color: white !important; */
    border: none !important;
    border-bottom: 2px solid white !important;
}

.contactCard {
    text-align: center;
    margin: 10px;
}

.contactContainer {
    display: flex;
    flex-direction: column;
    margin: auto;
    background-color: var(--light) !important;
}

.resumeContainer {
    background-color: var(--light
    );
}