:root {
    --primary: #7c587f;
  --secondary: #4c3f77;
  --tertiary: #B12704;
  --light: #a4bcbc;
  --dark: #051126;
  --contrast: #007f97;
}

* {
    background-color: var(--primary);
}

.headerNav {
    background-color: var(--secondary);
}

.myName h1{
    color: var(--dark);
    padding: 10px;
    background-color: var(--secondary);
    border-bottom: solid 3px var(--secondary);

}

.navLinks ul {
    font-size: large;
    padding: 10px;
    background-color: var(--secondary);
    border-bottom: solid 6px var(--secondary);
}

.nav-item {
    color: var(--dark);
    background-color: var(--secondary);
    margin: auto;
}

.recentPic {
   border: solid 2px var(--light);
}

.bio {
    margin-right: 100px;
}